<h2>Update existing patient information</h2>
<form class="form-horizontal" ng-submit="">
    <hr />

    <div class="form-group">
        <label>Name: {{patient.Patient.Name}}</label>
    </div>
    <div class="form-group">
        <label>Email: {{patient.Patient.Email}}</label>
    </div>
    <div class="form-group">
        <label>Phone: {{patient.Patient.Phone}}</label>
    </div>
    <div class="form-group">
        <label>Address: {{patient.Patient.Address}}</label>
    </div>
    <div class="form-group">
        <label>Supervised By: </label>
        <select>
            <option ng-repeat="doctor in patient.Doctors">{{doctor}}</option>
        </select>
    </div>
    <div class="form-group">
        <div>
            <input type="submit" class="btn btn-success" value="Save" />
            <a href="#/admin" class="btn btn-success">Admin</a>
            <a href="#/" class="btn btn-success">Home</a>
        </div>
    </div>
</form>